<div id="<%= dom_id article %>" class="px-4">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= article.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= article.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= cl_image_tag(article.image.filename) %>
  </p>

  <% if action_name != "show" %>
    <div class="flex space-x-2">
      <%= link_to "Show", article, class: "rounded-lg py-2 px-4 w-24 bg-gray-100 inline-block font-medium text-center" %>
      <%= link_to "Edit", edit_article_path(article), class: "rounded-lg py-2 px-4 w-24 bg-gray-100 inline-block font-medium text-center" %>
    </div>
    <hr class="my-6">
  <% end %>
</div>
