<div class="mx-auto md:w-2/3 w-full flex pb-8">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @article %>

    <div class="flex space-x-4 px-4 mt-4">
      <%= link_to "Edit", edit_article_path(@article), class: "rounded-lg py-3 px-5 w-24 bg-gray-100 inline-block font-medium text-center" %>
      <%= button_to "Destroy", article_path(@article), method: :delete, class: "rounded-lg py-3 px-5 w-24 bg-gray-100 font-medium text-center" %>
      <%= link_to "Back", articles_path, class: "rounded-lg py-3 px-5 w-24 bg-gray-100 inline-block font-medium text-center" %>
    </div>
  </div>
</div>
